@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400..700&display=swap');

*{
  font-family: "Edu TAS Beginner", cursive;
}

body {
  margin: 0px;
}
nav {
  text-align: center;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  background-image: url(../src/assets/madera.jpeg);
  align-items: center;
  height: 130px;
}
nav ul {
  list-style-type: none;
  text-align: center;
  display: flex;
  font-size: 25px;
  justify-content: space-between;
  width: 70%;
  align-items: center;
}
nav a {
  color: white;
  text-decoration: none;
}

nav a.active {
  color: black;
}

.logo {
  max-width: 50%;
  height: 100%;
}
.carrito {
  height: 25%;
  filter: invert(100%);
}
.carrito div {
  height: 100%;
}
.carrito img{
  height: 100%;
}
.carrito p{
  margin: 0px;
}
nav a:hover{
  color: rgb(198, 197, 197);
}
nav a{
  transition: color 1s;
}
.mantenimiento{
 text-align: center;
 font-size: 30px;
}

.contenido {
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.item {
  color: white;
  width: 300px;
  height: 300px;
  margin: 15px;
  background-image: url('assets/madera.jpeg');
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item img {
  width: 40%;
}

.item a {
  color: white;
  text-decoration: none;
}

.type {
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.type h1 {
  text-align: center;
}

.type div {
  display: flex;
  align-items: center;
}

.type img {
  width: 300px;
}

.type div p {
  padding: 30px;
  font-size: 25px;
}

.type > p {
  font-size: 40px;
  text-align: center;

}

.type button {
  align-self: center;
}

.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-item {
  display: flex;
  width: 50%;
  justify-content: space-between;
}
